<style type="text/css">
#checklist_container
{
	margin-bottom: 3px;
}

#checklist_list
{
	margin: 0px;
	padding:10px;
	background-color:#FAFAFA;
}


#checklist_list.edit
{
	background-color:#EEE; 
}

#checklist_list.empty
{
	padding:0px;
	background-color:transparent;
}

#checklist_list li
{
	display: block;
	list-style-image: disc;
	position: relative;
}

#checklist_list li.checked
{
	color:#aaa;
	text-decoration: line-through;
}


a.side_link.edit i
{
	color:#cc3333!important;
}

#checklist_list li .close
{
	display: none;
	position: absolute;
	right:5px;
}

#checklist_list li .move
{
	display: none;
	position: absolute;
	left:-28px;
	color:#aaa;
	cursor: move;
	text-decoration: none;
	width:30px;
}

#checklist_list li .ing
{
	display: none;
	position: absolute;
	left:-28px;
	color:#aaa;
	cursor: pointer;
	text-decoration: none;
	width:30px;
}

#checklist_list.edit li .ing,#checklist_list.edit li:hover .ing
{
	display: none;
}

#checklist_list li:hover
{
	background-color:white;  
}

#checklist_list.edit li:hover .close,#checklist_list.edit li:hover .move,#checklist_list li:hover .ing
{
	display: inline-block;
}


#checklist_list li.doing,#checklist_list li.doing a
{
	color:#cc3333;
}

#checklist_list li.doing label:after
{
	content:"\00a0\00a0\00a0\00a0\00a0\00a0";
	background:url(plugin/check_list/checklist.doing.gif) 3px 3px no-repeat;
}

#check_list_add_link
{
	margin-top: 5px;
}

#check_list_add_box
{
	margin-top: 10px;
}


.dragged {
  position: absolute;
  opacity: 0;
  z-index: 2000;
}

#checklist_list li.placeholder 
{
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}
   
#checklist_list li.placeholder:before 
{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: #cc3333;
      border-right: none; 
}


</style>

<script type="text/javascript">
function check_list_add()
{
	$('#check_list_add_box').show();
	$('#check_list_add_link').hide();
}

function checklist_reorder( tid , ordstring )
{
	var url = '?c=plugin&a=checklist_reorder' ;
	var params = { 'tid' : tid  , 'ord' : ordstring };
	$.post( url , params , function( data )
	{
		console.log( data );
		var data_obj = $.parseJSON( data );
		 
		if( data_obj.err_code == 0 )
		{
			
		}
		else
		{
			alert('API调用错误，请稍后再试。错误号'+data_obj.err_code + ' 错误信息 ' + data_obj.message);
		}

		done();
		

	} );

	doing();
}

function check_list_save( tid , text )
{

	var url = '?c=plugin&a=checklist_add' ;
	var params = { 'tid' : tid  , 'text' : text };
	$.post( url , params , function( data )
	{
		var data_obj = $.parseJSON( data );
		 
		if( data_obj.err_code == 0 )
		{
			$('#checklist_list').removeClass('empty');
			$('#checklist_list').append( $(data_obj.data.html) );
			bind_checklist();
			count_checklist();
			$('#checklist_text').val('');
			$('#checklist_text').focus();

		}
		else
		{
			alert('API调用错误，请稍后再试。错误号'+data_obj.err_code + ' 错误信息 ' + data_obj.message);
		}

		done();
		

	} );

	doing();

	
}

function count_checklist()
{
	$('#check_count').text( '['+ $('#checklist_list li.checked').length + '/' + $('#checklist_list li').length +']' );
}

function bind_checklist()
{
	$('#checklist_list a.close').unbind('click');
	$('#checklist_list a.close').bind('click',function()
	{
		if( confirm('检查项移除后将不可恢复，继续？') )
		{
			var url = '?c=plugin&a=checklist_remove' ;
			var ckid = $(this).attr('ckid');
			var params = { 'ckid' : ckid  };
			$.post( url , params , function( data )
			{
				var data_obj = $.parseJSON( data );
			 
				if( data_obj.err_code == 0 )
					$('#checklist_list li[ckid='+ckid+']').remove();
				else
					alert('API调用错误，请稍后再试。错误号'+data_obj.err_code + ' 错误信息 ' + data_obj.message);
				
				count_checklist();
				done();
			});
			doing();
		}
	});

	$('#checklist_list a.ing').unbind('click');
	$('#checklist_list a.ing').bind('click',function()
	{
		var ckid = $(this).attr('ckid');
		if( parseInt($.cookie( 'ckitem-'+ckid )) == 1 )
		{
			$.cookie( 'ckitem-'+ckid , 0 );
			$('#checklist_list li[ckid='+ckid+']').removeClass('doing');
		}
		else
		{
			$.cookie( 'ckitem-'+ckid , 1 );
			$('#checklist_list li[ckid='+ckid+']').addClass('doing');
		}
	});



	$('#checklist_list input[type=checkbox]').unbind('change');
	$('#checklist_list input[type=checkbox]').bind('change',function()
	{
		var action = '';
		if( $(this).is(':checked') ) action = 'done' ;
		else action = 'reopen';

		var url = '?c=plugin&a=checklist_'+action ;
			var ckid = $(this).attr('ckid');
			var params = { 'ckid' : ckid  };
			$.post( url , params , function( data )
			{
				var data_obj = $.parseJSON( data );
			 
				if( data_obj.err_code == 0 )
				{
					if( action == 'done' )
					{
						$('#checklist_list li[ckid='+ ckid +']').addClass('checked');
						if( $('#checklist_list li').length == $('#checklist_list li.checked').length )
						{
							if( confirm('你已经完成了TODO的全部CheckList，要将TODO标记为完成么？') )
							{
								mark_todo_done( parseInt( $('#checklist_list').attr('tid') ) );
							}
						}	
					} 
					else $('#checklist_list li[ckid='+ ckid +']').removeClass('checked');
				}
				else
					alert('API调用错误，请稍后再试。错误号'+data_obj.err_code + ' 错误信息 ' + data_obj.message);
				
				count_checklist();
				done();
			});
			doing();
	});

	$('#checklist_list li').each(function()
	{
		if( parseInt($.cookie('ckitem-'+$(this).attr('ckid'))) == 1 ) $(this).addClass('doing');
	});
}

function ck_edit_toggle()
{
	if( $('#ck_edit_icon').hasClass('edit') )
	{
		$('#ck_edit_icon').removeClass('edit');
		$('#checklist_list').removeClass('edit');
	}
	else
	{
		$('#ck_edit_icon').addClass('edit');
		$('#checklist_list').addClass('edit');
		cklist_sortable();
	}
}

function cklist_sortable()
{
	$('#checklist_list').sortable
	({
		group:'cklist',
	  	handle: 'a.move',
	  	itemSelector:'li',
	  	onDrop:function( item, targetContainer, _super )
	  	{
	  		var neword = [];
	  		$('#checklist_list li').each(function()
	  		{
	  			neword.unshift( $(this).attr('ckid') );
	  		});
	  		if( neword.length > 1 )
	  			checklist_reorder( parseInt($('#checklist_list').attr('tid')) , neword.join('|') );

	  		_super(item);  		
	  	}
	});
}


</script>
<div class="line"></div>
<h2 class="side_board">CheckList <span id="check_count"></span> <a class="side_link" title="编辑CheckList" id="ck_edit_icon" href="javascript:ck_edit_toggle();"><i class="icon-edit"></i></a> </h2>
<?php if( isset( $checklists ) && is_array( $checklists )  ): ?>
<div id="checklist_container">
<ul id="checklist_list" class="cklist" tid="<?=$data['tid']?>">
<?php foreach( $checklists as $item ): ?>
	<?php require( dirname(__FILE__) . DS . 'check_list_item.tpl.html' ); ?>
<?php endforeach;?>
</ul>
</div>
<a class="edit_show" href="javascript:check_list_add();void(0);" id="check_list_add_link">追加检查项</a>
<script type="text/javascript">
bind_checklist();
count_checklist();



</script>
<?php else: ?>
	<ul id="checklist_list" class="empty cklist" tid="<?=$data['tid']?>"></ul>
	<a class="edit_show" href="javascript:check_list_add();void(0);" id="check_list_add_link">追加检查项</a>
<?php endif; ?>	


<div id="check_list_add_box" class="hide">
<form class="form-inline" action="javascript:check_list_save( <?=$data['tid']?> , $('#checklist_text').val() );void(0);" method="post" id="checklist_form">
<div class="input-append">
  <input  id="checklist_text" type="text" value="" class="side_edit" autofocus="autofocus"	>
  <div class="btn-group left_square">
	<button class="btn" type="submit" >保存</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu short_menu">
    	<li><a tabindex="-1" href="javascript:$('#check_list_add_box').hide();$('#check_list_add_link').show();">取消</a></li>
    </ul>
  </div>
</div>	
</form>	
</div>
<div class="line"></div>